Cython>=0.29.28          # ใช้ 3.0.8
cmake>=3.22.3            # ใช้ 3.28.3
numpy>=1.22.3            # ใช้ 1.24.3



#------------------------------------------------------------------------
#   ให้เลือกว่าจะเอา cpu หรือ gpu 
#   onnxruntime==1.17.1
#   ถ้าใช้ gpu ให้ลง
#   อ้างอิงจาก roop https://github.com/s0md3v/roop/wiki/2.-Acceleration 
#------------------------------------------------------------------------- 
onnxruntime-gpu==1.15.1


#-----------------------------------------------------------
#      เอาไปทำ เป็น package ด้วย insightface 
#      -e จะเป็นการ ตัวนี้จะใช้อ้างอิง path กับตัว main ใหญ่ที่เรียก
#      ตัวนี้ main ใหญ่คือ slubface-server/requirements.txt
#-----------------------------------------------------------
-e ../insightface/python-package  



